body {
  text-align: center;
  font-family: Arial;
  background-color:black;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 40px;
  background:red;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell:hover {
  background: red;
}
.Tic{
    color:white;
}